## Menambahkan Petik 2

In [34]:
import pandas as pd
import csv

# Muat data
df = pd.read_csv('stopWord.csv')

# Bersihkan tanda petik lama dan tambahkan satu set tanda petik dua
df['kata2'] = df['kata'].str.strip('"').apply(lambda x: f'"{x}"')

# Jika perlu menyimpan ke file baru
df[['kata2']].to_csv('StopWrd.csv', index=False, quoting=csv.QUOTE_NONE)

# Menampilkan hasil
print(df.head())

     kata     kata2
0     dan     "dan"
1    atau    "atau"
2    tapi    "tapi"
3    jika    "jika"
4  dengan  "dengan"

In [35]:
df2 = pd.read_csv('StopWrd.csv')
df2.head()

    kata2
0     dan
1    atau
2    tapi
3    jika
4  dengan